@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inspiration&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

//mixins
@mixin baseColorNoDeco(){
    text-decoration: none;
    color:$base-text-color;
}

@mixin basicButton(){
    border: solid 1px $base-text-color;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

@mixin centerItem($direction:row){
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin gradientText($gradient){
    background:$gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin halfCirclePosition($top, $left){
    position: absolute;
    transform: translateY(-50%);
    z-index: -1;
    top: $top;
    left: $left;
}

//style
*{
    margin:0;
    padding:0;
}

body{
    font-family:'Inter', sans-serif;
    font-size: 25px;
    margin: 0;

    p{
        margin: 0;
    }

    h1{
        margin:0;
    }


}

header{
    nav{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        max-height:80px;
        width: Fixed (1,440px);
        height: Hug (79px);
        padding: 10px 0px 10px 0px;
        gap: 0px;
        opacity: 0px;
        box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.08);

        .logo-text-site{
            @include baseColorNoDeco();

            display:flex;
            justify-content: flex-start;
            align-items:center;
            gap: 10px;
            margin: 0 0 0 20px;
            span{
                font-family: "Inspiration", serif;
                font-weight: 400;
                font-style: normal;
            }
        }

        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap:50px;
            a{
                @include baseColorNoDeco();
            }
        }

        .contact-us-button{
            @include baseColorNoDeco();
            @include basicButton();

            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 20px 5px 0;
            height: 50px;
            width:124px;
            padding: 0 25px;
            background: linear-gradient(225deg, #6675F7 0%, #57007B 100%);
        }
    }

    .first-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin:5% 20% 8% 20%;
        padding: 0;

        .first-section-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 75px;

            h1{
                font-size: 46px;
                font-weight:300;

                #product-gradient{
                    @include gradientText(linear-gradient(180deg, #DE4396 0%, #0d1c9f7d 100%));
                }

                #gradient-team{
                    @include gradientText(linear-gradient(225deg, #F7666F 0%, #406AFF 100%));
                }
            }

            p{
                font-size: 16px;
            }

            .button-call-to-action{
                @include baseColorNoDeco();
                @include basicButton();
                display: flex;
                justify-content: center;
                align-items: center;
                background: #3d63ea;
                padding: 16px 20px 16px 20px;
                font-size: 14px;
            }

        }
    }

    .half-circle{
        position: absolute;
        left: 34%;
        transform: translateY(-50%);
        z-index:-1;
    }
}

main{
    .second-section{
        background-color: #f9f9ff;
        padding-bottom: 60px;

        h2{
            @include centerItem(row);
        }
        
        .card-agencement{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 2% 2% 2%;

            .card-carousel:hover{
                transform: translateY(30px);
            }

            .card-carousel{
                
                width: 333px;
                height: 280px;
                background-color: white;
                border-radius: 10px;
                transition: transform 0.2s ease-in-out;

                .card-title-image-text{
                    margin: 38px 16px;
                }

                h3{
                    font-size: 20px;
                    @include gradientText(linear-gradient(225deg, #F76680 0%, #57007B 100%));
                    margin-bottom: 20px;
                }

                p{
                    font-size:14px; 
                }

                img{
                    border: 1px solid violet;
                    border-radius: 100%;
                    width:32px;
                    height: 32px;
                    padding: 10px;
                    margin-bottom: 14px;
                }
            }
        }

        .carousel-node-pages{
            @include centerItem(row);
            gap: 10px;

            #slider-carousel{
                position:absolute;
                right: 8%;
            }
        }
    }

    .third-section{
        padding-top: 160px;
        position:relative;

        .half-circle{
            @include halfCirclePosition(0, 18%);
        }

        .first-part{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 12% 0 12%;
            gap: 16%;
            .third-section_text{
                // margin: 0 0 0 10%;
                line-height: 36px;
                align-self: flex-start;
                #deco-line{
                    margin: 0 0 20px 0;
                }

                h2{
                    font-size: 35px;
                    font-weight: 300;
                    margin: 0 0 30px 0;
                    max-width:450px;
                }

                p{
                    letter-spacing: 2px;
                    font-size: 18px;
                    color: #718096;
                }

                .button-see-more{
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    margin: 50px 0 0 0;
                    
                    a{
                        @include baseColorNoDeco();
                        color: #57007B;
                    }
                }

                .colored-inside-text{
                    @include gradientText(linear-gradient(225deg, #F76680 0%, #57007B 100%));
                }
            }

            #false-video{
                margin: 0 0 12% 0;
            }
        }

        .second-part{
            margin: 0 0 0 12%;

            .second-part_text{
                img{
                    margin-bottom: 20px;
                }
            }
        }

        .arrow-right-selected{
            display:flex;
            justify-content: flex-end;
            gap: 20px;
            margin: 0 80px 30px 0;
        }
    }

    .partner-section{
        background-color: #f7f7fa;
        display:flex;
        justify-content: center;
        gap: 50px;
        overflow-x: scroll;
        padding: 60px 0 60px 0;
    }

    .customers-review-section{
        @include centerItem(row);
        padding: 10% 0 10% 0;
        .content-reviews-grouping{
            @include centerItem(column);
            margin: 0 16% 0 16%;
            width: 100%;

            .text-review-section{
                margin: 0 10% 4% 10%;
                position: relative;

                .title-review-section{
                    @include centerItem(column);
                    margin-bottom: 50px;
                    img{
                        margin-bottom: 20px;
                    }
                    h3{
                        font-size: 35px;
                        line-height: 50px;
                        text-align: center;
                        font-weight: 300;
                    }
                }
                #left-drop{
                    position: absolute;
                    left:0px;
                }

                p{
                    margin: 0 10% 0 10%;
                    line-height: 36px;
                    text-align: center;
                    font-size: 18px;
                    max-width: 800px;
                }

                #right-drop{
                    position:absolute;
                    right : 0px;
                }
            }

            .customers-reviews{
                display:flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                width: 100%;

                .customers{
                    @include centerItem(column);
                    width:16%;
                    height: 200px;

                    .stars{
                        margin: 0 0 10px 0;
                    }
                    h6{
                        text-align: center;
                    }
                }

                img{
                    max-height: 100px;
                }
            }
        }

        #left-button-position{
            margin-left: 4%
        }
        #right-button-position{
            margin-right: 4%;
        }
    }
}

footer{
    h6{
        font-family: 'Courier New', Courier, monospace;
    }
}



//responsive