@import url("https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inspiration&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  margin: 0;
}
body p {
  margin: 0;
}
body h1 {
  margin: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-height: 80px;
  width: Fixed 1, 440px;
  height: Hug 79px;
  padding: 10px 0px 10px 0px;
  gap: 0px;
  opacity: 0px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.08);
}
header nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}
header nav div a {
  text-decoration: none;
  color: #2b2b2b;
}
header nav .contact-us-button {
  text-decoration: none;
  color: #2b2b2b;
  border: solid 1px #2b2b2b;
  background-color: blue;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5px 20px 5px 0;
  height: 50px;
  width: 124px;
  padding: 0 25px;
  background: linear-gradient(225deg, #6675F7 0%, #57007B 100%);
}
header nav #burger-menu {
  display: none;
}
header .first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 5% 20% 8% 20%;
  padding: 0;
}
header .first-section .first-section-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 75px;
}
header .first-section .first-section-text h1 {
  font-size: 46px;
  font-weight: 300;
}
header .first-section .first-section-text h1 #product-gradient {
  background: linear-gradient(180deg, #DE4396 0%, rgba(13, 28, 159, 0.4901960784) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .first-section .first-section-text h1 #gradient-team {
  background: linear-gradient(225deg, #F7666F 0%, #406AFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .first-section .first-section-text p {
  font-size: 16px;
}
header .first-section .first-section-text .button-call-to-action {
  text-decoration: none;
  color: #2b2b2b;
  border: solid 1px #2b2b2b;
  background-color: blue;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #3d63ea;
  padding: 16px 20px 16px 20px;
  font-size: 14px;
}
header .half-circle {
  position: absolute;
  left: 34%;
  transform: translateY(-50%);
  z-index: -1;
}

main .second-section {
  background-color: #f9f9ff;
  padding-bottom: 60px;
}
main .second-section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
main .second-section .card-agencement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 2% 2% 2%;
  overflow-x: scroll;
}
main .second-section .card-agencement .card-carousel:hover {
  transform: translateY(30px);
}
main .second-section .card-agencement .card-carousel {
  width: 333px;
  min-width: 300px;
  height: 280px;
  background-color: white;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}
main .second-section .card-agencement .card-carousel .card-title-image-text {
  margin: 38px 16px;
}
main .second-section .card-agencement .card-carousel h3 {
  font-size: 20px;
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
main .second-section .card-agencement .card-carousel p {
  font-size: 14px;
}
main .second-section .card-agencement .card-carousel img {
  border: 1px solid violet;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  padding: 10px;
  margin-bottom: 14px;
}
main .second-section .card-agencement::-webkit-scrollbar {
  display: none;
}
main .second-section .carousel-node-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
main .second-section .carousel-node-pages #slider-carousel {
  position: absolute;
  right: 8%;
}
main .third-section {
  padding-top: 160px;
  position: relative;
}
main .third-section .half-circle {
  position: absolute;
  transform: translateY(-50%);
  z-index: -1;
  top: 0;
  left: 18%;
}
main .third-section .first-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 12% 0 12%;
  gap: 16%;
}
main .third-section .first-part .third-section_text {
  line-height: 36px;
  align-self: flex-start;
}
main .third-section .first-part .third-section_text #deco-line {
  margin: 0 0 20px 0;
}
main .third-section .first-part .third-section_text h2 {
  font-size: 35px;
  font-weight: 300;
  margin: 0 0 30px 0;
  max-width: 450px;
}
main .third-section .first-part .third-section_text p {
  letter-spacing: 2px;
  font-size: 18px;
  color: #718096;
}
main .third-section .first-part .third-section_text .button-see-more {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 50px 0 0 0;
}
main .third-section .first-part .third-section_text .button-see-more a {
  text-decoration: none;
  color: #2b2b2b;
  color: #57007B;
}
main .third-section .first-part .third-section_text .colored-inside-text {
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .third-section .first-part #false-video {
  margin: 0 0 12% 0;
}
main .third-section .second-part {
  margin: 0 0 0 12%;
}
main .third-section .second-part .second-part_text img {
  margin-bottom: 20px;
}
main .third-section .arrow-right-selected {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin: 0 80px 30px 0;
}
main .partner-section {
  background-color: #f7f7fa;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  overflow-x: scroll;
  padding: 60px 60px 60px 60px;
}
main .partner-section::-webkit-scrollbar {
  display: none;
}
main .customers-review-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10% 0 10% 0;
}
main .customers-review-section .content-reviews-grouping {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 80%;
}
main .customers-review-section .content-reviews-grouping .text-review-section {
  margin: 0 8% 4% 8%;
  position: relative;
}
main .customers-review-section .content-reviews-grouping .text-review-section .title-review-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
main .customers-review-section .content-reviews-grouping .text-review-section .title-review-section img {
  margin-bottom: 20px;
}
main .customers-review-section .content-reviews-grouping .text-review-section .title-review-section h3 {
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  font-weight: 300;
}
main .customers-review-section .content-reviews-grouping .text-review-section #left-drop {
  position: absolute;
  left: 0px;
}
main .customers-review-section .content-reviews-grouping .text-review-section p {
  margin: 0 10% 0 10%;
  line-height: 36px;
  text-align: center;
  font-size: 18px;
  max-width: 800px;
}
main .customers-review-section .content-reviews-grouping .text-review-section #right-drop {
  position: absolute;
  right: 0px;
}
main .customers-review-section .content-reviews-grouping .customers-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-width: 250px;
  width: 100%;
  overflow-x: scroll;
}
main .customers-review-section .content-reviews-grouping .customers-reviews .customers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 200px;
  width: 200px;
  height: 200px;
}
main .customers-review-section .content-reviews-grouping .customers-reviews .customers .stars {
  margin: 0 0 10px 0;
}
main .customers-review-section .content-reviews-grouping .customers-reviews .customers h6 {
  text-align: center;
}
main .customers-review-section .content-reviews-grouping .customers-reviews img {
  max-height: 100px;
}
main .customers-review-section .content-reviews-grouping .customers-reviews::-webkit-scrollbar {
  display: none;
}
main .case-study-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #F7F7FA;
}
main .case-study-section #arrow-deco {
  position: absolute;
  top: -6%;
  left: 10%;
}
main .case-study-section #arrow-deco-reversed {
  position: absolute;
  top: -8%;
  right: 10%;
}
main .case-study-section .title-case-study {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10% 0 10%;
  text-align: center;
}
main .case-study-section .title-case-study img {
  margin: 40% 0 4% 0;
}
main .case-study-section .title-case-study h4 {
  font-size: 35px;
  line-height: 54px;
  font-weight: 300;
  margin: 0 0 38% 0;
}
main .case-study-section #blue-study-text {
  background-color: #F1F2FF;
}
main .case-study-section #green-study-text {
  background-color: #F0FFF7;
}
main .case-study-section #pink-study-text {
  background-color: #FFF4F4;
}
main .case-study-section .flex-study-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 18% 4% 18%;
  border-radius: 30px;
}
main .case-study-section .text-case-study {
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  flex-direction: column;
  margin: 0 10% 0 10%;
}
main .case-study-section .text-case-study h4 {
  font-size: 28px;
  margin: 0 0 5% 0;
}
main .case-study-section .text-case-study p {
  font-size: 14px;
  margin: 0 0 10% 0;
}
main .case-study-section .text-case-study a {
  text-decoration: none;
  color: #2b2b2b;
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
}
main .case-study-section #read-more-case {
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 20px;
  text-decoration: none;
  margin: 0 18% 10% 0;
}
main .case-study-section #read-more-case img {
  height: 16px;
}
main .section-development-approach {
  background-color: rgba(249, 249, 255, 0.6509803922);
}
main .section-development-approach .development-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .section-development-approach .development-title img {
  margin: 6% 0 2% 0;
}
main .section-development-approach .development-title h4 {
  margin-bottom: 6%;
  text-align: center;
  font-weight: 300;
}
main .section-development-approach .development-approach-presentation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 10% 0 10%;
  padding-bottom: 4%;
}
main .section-development-approach .development-approach-presentation .development-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  background-color: #F7F7FA;
  border: 1px solid #E7DAED;
  width: 600px;
  height: 200px;
}
main .section-development-approach .development-approach-presentation .development-box img {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 8% 4% 0 4%;
}
main .section-development-approach .development-approach-presentation .development-box #rocket-bg-color {
  background: linear-gradient(225deg, #29272E 0%, #27272E 100%);
  border-radius: 10px;
}
main .section-development-approach .development-approach-presentation .development-box #code-bg-color {
  background: linear-gradient(225deg, #68DBF2 0.01%, #509CF5 100%);
  border-radius: 10px;
}
main .section-development-approach .development-approach-presentation .development-box #heart-bg-color {
  background: linear-gradient(224.47deg, #FF92AE 8.18%, #FF3D9A 95.84%);
  border-radius: 10px;
}
main .section-development-approach .development-approach-presentation .development-box #shield-bg-color {
  background: linear-gradient(225deg, #67E9F1 0%, #24E795 100%);
  border-radius: 10px;
}
main .section-development-approach .development-approach-presentation .development-box #success-bg-color {
  background: linear-gradient(225deg, #FFEF5E 0%, #F7936F 100%);
  border-radius: 10px;
}
main .section-development-approach .development-approach-presentation .development-box #padlock-bg-color {
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  border-radius: 10px;
}
main .section-development-approach .development-approach-presentation .development-box .development-text {
  margin-top: 8%;
}
main .section-development-approach .development-approach-presentation .development-box .development-text h5 {
  margin-bottom: 2%;
  font-size: 20px;
}
main .section-development-approach .development-approach-presentation .development-box .development-text p {
  flex-wrap: wrap;
  font-size: 14px;
}
main .section-development-approach .development-approach-presentation .development-box .development-text #code-text-color {
  color: #509CF5;
}
main .section-development-approach .development-approach-presentation .development-box .development-text #heart-text-color {
  color: #FF3D9A;
}
main .section-development-approach .development-approach-presentation .development-box .development-text #shield-text-color {
  color: #24E795;
}
main .section-development-approach .development-approach-presentation .development-box .development-text #success-text-color {
  color: #F7936F;
}
main .section-development-approach .development-approach-presentation .development-box .development-text #padlock-text-color {
  color: #57007B;
}
main .last-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 10%;
  position: relative;
  background: linear-gradient(225deg, #F1F1F5 0%, #E4ECF7 100%);
  margin: 4% 18% 4% 18%;
  padding: 6% 0 6% 0;
}
main .last-section h6 {
  font-size: 35px;
  line-height: 55px;
}
main .last-section .button-decoration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
main .last-section .button-decoration #decoration-button {
  position: absolute;
}

footer {
  background-color: #ededed;
}
footer .total-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 100px;
  margin: 0 10% 4% 10%;
  padding-top: 2%;
}
footer .total-footer .logo-flex {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  gap: 20px;
  width: 33%;
}
footer .total-footer .logo-flex .logo-text-site {
  margin: 0;
}
footer .total-footer .logo-flex p {
  font-size: 18px;
  max-width: 460px;
  line-height: 30px;
}
footer .total-footer .logo-flex #google-png {
  max-width: 200px;
  max-height: 60px;
}
footer .total-footer .links-flex {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .total-footer .links-flex ul {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
footer .total-footer .contact-us-flex {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;
  gap: 20px;
  width: 33%;
}
footer .total-footer .contact-us-flex p {
  font-size: 18px;
  line-height: 30px;
}
footer .total-footer #social-network-group {
  align-self: flex-end;
}
footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
}

.logo-text-site {
  text-decoration: none;
  color: #2b2b2b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin: 0 0 0 20px;
}
.logo-text-site span {
  font-family: "Inspiration", serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 1023px) {
  header nav {
    height: 60px;
  }
  header nav div {
    display: none;
  }
  header nav .contact-us-button {
    display: none;
  }
  header nav #burger-menu {
    display: block;
    margin-right: 20px;
  }
  header nav #burger-menu::hover {
    cursor: pointer;
  }
  header .first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header .first-section .first-section-text {
    justify-content: center;
    align-items: center;
  }
  header .first-section .first-section-text h1 {
    text-align: center;
  }
  header .first-section .first-section-text p {
    text-align: center;
    font-size: 20px;
  }
  main .second-section h2 {
    padding: 2% 0 2% 0;
  }
  main .second-section .card-agencement {
    gap: 20px;
  }
  main .third-section .first-part {
    flex-direction: column;
    margin: 0;
  }
  main .third-section .first-part .third-section_text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 14% 0 14%;
  }
  main .third-section .first-part .third-section_text .button-see-more {
    margin-bottom: 4%;
  }
  main .third-section .first-part #false-video {
    width: 80%;
  }
  main .customers-review-section {
    display: flex;
    justify-content: center;
    max-width: fit-content;
  }
  main .customers-review-section .content-reviews-grouping .text-review-section #right-drop {
    bottom: 0;
  }
  main .customers-review-section .content-reviews-grouping .customers-reviews {
    width: 90%;
  }
  main .customers-review-section .content-reviews-grouping .customers-reviews .customers {
    width: 500px;
  }
  main .customers-review-section #left-button-position {
    display: none;
  }
  main .customers-review-section #right-button-position {
    display: none;
  }
  main .case-study-section #arrow-deco {
    height: 8%;
    top: -3%;
  }
  main .case-study-section #arrow-deco-reversed {
    height: 8%;
    top: -3%;
  }
  main .case-study-section .flex-study-text {
    flex-direction: column;
  }
  main .case-study-section .flex-study-text .text-case-study {
    margin: 4% 2% 2% 2%;
  }
  main .case-study-section #read-more-case {
    margin: 0 12% 4% 0;
  }
  main .section-development-approach .development-approach-presentation {
    margin: 0;
    flex: 1;
    gap: 30px;
  }
  main .section-development-approach .development-approach-presentation .development-box {
    width: 80%;
  }
  main .section-development-approach .development-approach-presentation .development-box .development-text h5 {
    margin: 0 0 4% 0;
  }
  main .section-development-approach .development-approach-presentation .development-box .development-text p {
    margin-right: 4%;
  }
  main .last-section {
    margin: 6% 0 6% 0;
    padding: 8% 0 8% 0;
  }
  main .last-section h6 {
    text-align: center;
    font-size: 22px;
  }
  footer .total-footer {
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 10%;
  }
  footer .total-footer .logo-flex {
    width: 500px;
    gap: 20px;
    padding: 0 10% 0 10%;
  }
  footer .total-footer .logo-flex .logo-text-site {
    align-self: center;
  }
  footer .total-footer .logo-flex #google-png {
    align-self: center;
  }
  footer .total-footer .logo-flex .logo-text-site img {
    width: 40px;
    height: 40px;
  }
  footer .total-footer .links-flex {
    padding-left: 8%;
  }
  footer .total-footer .contact-us-flex {
    padding-right: 8%;
  }
  footer .total-footer #social-network-group {
    padding: 0 30% 0 30%;
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  header .first-section img {
    width: 320px;
    height: 320px;
  }
  header .half-circle {
    width: 40px;
  }
  main .second-section {
    padding-bottom: 10%;
  }
  main .second-section h2 {
    padding: 6% 0 6% 0;
  }
  main .second-section .card-agencement {
    margin: 0 0 6% 0;
  }
  main .second-section .carousel-node-pages {
    justify-content: space-around;
  }
  main .second-section .carousel-node-pages img {
    width: 20%;
  }
  main .second-section .carousel-node-pages #node-carousel {
    width: 50%;
  }
  main .third-section {
    padding: 20% 0 0 0;
  }
  main .third-section .half-circle {
    width: 40px;
  }
  main .third-section .first-part .third-section_text .button-see-more a {
    font-size: 15px;
  }
  main .third-section .arrow-right-selected {
    margin-top: 16px;
  }
  main .third-section .arrow-right-selected img {
    width: 36px;
  }
  main .customers-review-section {
    padding: 6% 0 20% 0;
  }
  main .case-study-section #arrow-deco {
    height: 8%;
    top: -2%;
    left: 14%;
    width: 16%;
    height: 6%;
  }
  main .case-study-section #arrow-deco-reversed {
    top: -2%;
    right: 14%;
    width: 16%;
    height: 6%;
  }
  main .case-study-section .title-case-study {
    padding-top: 6%;
  }
  main .case-study-section .title-case-study img {
    margin: 0;
  }
  main .case-study-section .title-case-study h4 {
    font-size: 24px;
    margin-bottom: 6%;
  }
  main .case-study-section .flex-study-text {
    margin-bottom: 6%;
  }
  main .case-study-section .flex-study-text img {
    width: 320px;
  }
  main .case-study-section .flex-study-text .text-case-study a img {
    width: 20px;
  }
  main .case-study-section #read-more-case {
    font-size: 16px;
    margin-bottom: 6%;
  }
  main .section-development-approach {
    padding-bottom: 6%;
  }
  main .section-development-approach .development-approach-presentation {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 30px;
  }
  main .section-development-approach .development-approach-presentation .development-box {
    width: 98%;
  }
  main .section-development-approach .development-approach-presentation .development-box p {
    margin: 0 0 0 0;
  }
  main .last-section {
    flex-direction: column;
    padding-bottom: 24%;
    gap: 60px;
  }
  footer .total-footer {
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }
  footer .total-footer .logo-flex {
    width: 100%;
  }
  footer .total-footer .links-flex {
    padding: 0;
    width: 100%;
  }
  footer .total-footer .contact-us-flex {
    width: 100%;
  }
  footer .total-footer #social-network-group {
    justify-content: center;
  }
  footer span {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
